body { padding:0; margin:0; }
form{ padding:0px; margin:0px; }
td, input { color: #000000; }
object, embed { outline: 0; }
.ui-datepicker-trigger { cursor: pointer; }
.kotak_error { margin: 0 0 10px 0; padding: 3px; color: red; border: 1px solid #B9891E; background-color: #F7EFCC; }
.clear { line-height:0px; clear:both; }
.sembunyi { display:none;}
.pad_tbless { padding: 0 0 0 120px; }
label.tbless { float: left; width: 120px; font-weight: bold; }
label.tbless_norm { float: left; width: 120px; }
select.tbless, input.tbless, textarea.tbless { margin-bottom: 5px; }