/* Created by Artisteer v4.0.0.58475 */

.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.cni-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.cni-header
{
   z-index: 1;
}

.cni-hmenu>li, .cni-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.cni-hmenu, ul.cni-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
ul.cni-hmenu>li:first-child {
   padding-right:1px;
}
ul.cni-hmenu>li{
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('span'),firstChild).className='cni-hmenu-separator');
}
ul.cni-hmenu>li>span.cni-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -1px;
   width: 1px;
   height: 24px;
   background: url('images/menuseparator.png') center center no-repeat;
}
ul.cni-hmenu>li:first-child>span.cni-hmenu-separator
{
   display:none;
}

ul.cni-hmenu ul{
   background-color: #FFFFFF !important;
}

.cni-content-layout, .cni-content-layout-row, .cni-layout-cell 
{
   display: block;
   zoom: 1;
}
.cni-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.cni-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.cni-search div>input[type="text"]
{
   width: 100%;
}

* html form.cni-search>input[type="text"] 
{
   margin :0;
}

.cni-postheadericons span{
   zoom: 1;
}
.cni-postcontent {
   height: 1%;
}

.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.cni-content 
{
   width: auto;
   float:none;
}

