.menu-hori li ul {
	margin: -2em 0 0 16.3em;}
.menu-hori li.sfhover ul ul, .menu-hori li.sfhover ul ul ul, .menu-hori li.sfhover ul ul ul ul {
	left: -999em;
	z-index:50;}
.menu-hori li.sfhover ul, .menu-hori li li.sfhover ul, .menu-hori li li li li.sfhover ul, .menu-hori li li li.sfhover ul {
	left: auto;
	z-index:50;}

.ddm li ul li a {
	margin-top:0;
	border-bottom:1px solid #FFFFFF;}
.ddm li.sfhover ul ul, .ddm li.sfhover ul ul ul, .ddm li.sfhover ul ul ul ul {
	left: -999em;
	z-index:50;}
.ddm li.sfhover ul, .ddm li li.sfhover ul, .ddm li li li li.sfhover ul, .ddm li li li.sfhover ul {
	left: auto;
	z-index:50;}