
#cni-main
{
   background: #4E3623 url(../images/background.jpg) top center repeat-x;
   margin:0 auto;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.cni-hmenu
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.cni-button
{
   border: 0;
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #A1ADBA;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   padding:0 21px;
   margin:0 auto;
   height:24px;
}

.cni-postcontent,
.cni-postheadericons,
.cni-postfootericons,
.cni-blockcontent,
ul.cni-vmenu a 
{
   text-align: left;
}

.cni-postcontent,
.cni-postcontent li,
.cni-postcontent table,
.cni-postcontent a,
.cni-postcontent a:link,
.cni-postcontent a:visited,
.cni-postcontent a.visited,
.cni-postcontent a:hover,
.cni-postcontent a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.cni-postcontent p
{
   margin: 13px 0;
}

.cni-postcontent h1, .cni-postcontent h1 a, .cni-postcontent h1 a:link, .cni-postcontent h1 a:visited, .cni-postcontent h1 a:hover,
.cni-postcontent h2, .cni-postcontent h2 a, .cni-postcontent h2 a:link, .cni-postcontent h2 a:visited, .cni-postcontent h2 a:hover,
.cni-postcontent h3, .cni-postcontent h3 a, .cni-postcontent h3 a:link, .cni-postcontent h3 a:visited, .cni-postcontent h3 a:hover,
.cni-postcontent h4, .cni-postcontent h4 a, .cni-postcontent h4 a:link, .cni-postcontent h4 a:visited, .cni-postcontent h4 a:hover,
.cni-postcontent h5, .cni-postcontent h5 a, .cni-postcontent h5 a:link, .cni-postcontent h5 a:visited, .cni-postcontent h5 a:hover,
.cni-postcontent h6, .cni-postcontent h6 a, .cni-postcontent h6 a:link, .cni-postcontent h6 a:visited, .cni-postcontent h6 a:hover,
.cni-blockheader .t, .cni-blockheader .t a, .cni-blockheader .t a:link, .cni-blockheader .t a:visited, .cni-blockheader .t a:hover,
.cni-vmenublockheader .t, .cni-vmenublockheader .t a, .cni-vmenublockheader .t a:link, .cni-vmenublockheader .t a:visited, .cni-vmenublockheader .t a:hover,
.cni-headline, .cni-headline a, .cni-headline a:link, .cni-headline a:visited, .cni-headline a:hover,
.cni-slogan, .cni-slogan a, .cni-slogan a:link, .cni-slogan a:visited, .cni-slogan a:hover,
.cni-postheader, .cni-postheader a, .cni-postheader a:link, .cni-postheader a:visited, .cni-postheader a:hover
{
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 120%;
}

.cni-postcontent a, .cni-postcontent a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #BA985D;
}

.cni-postcontent a:visited, .cni-postcontent a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #ffffff;
}

.cni-postcontent  a:hover, .cni-postcontent a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #ba985d;
}

.cni-postcontent h1
{
   color: #ba985d;
   margin: 10px 0 0;
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cni-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cni-postcontent h1 a, .cni-postcontent h1 a:link, .cni-postcontent h1 a:hover, .cni-postcontent h1 a:visited, .cni-blockcontent h1 a, .cni-blockcontent h1 a:link, .cni-blockcontent h1 a:hover, .cni-blockcontent h1 a:visited 
{
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    color: #ba985d;
}

.cni-postcontent h2
{
   color: #ba985d;
   margin: 10px 0 0;
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cni-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cni-postcontent h2 a, .cni-postcontent h2 a:link, .cni-postcontent h2 a:hover, .cni-postcontent h2 a:visited, .cni-blockcontent h2 a, .cni-blockcontent h2 a:link, .cni-blockcontent h2 a:hover, .cni-blockcontent h2 a:visited 
{
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cni-postcontent h3
{
   color: #ba985d;
   margin: 10px 0 0;
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cni-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cni-postcontent h3 a, .cni-postcontent h3 a:link, .cni-postcontent h3 a:hover, .cni-postcontent h3 a:visited, .cni-blockcontent h3 a, .cni-blockcontent h3 a:link, .cni-blockcontent h3 a:hover, .cni-blockcontent h3 a:visited 
{
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cni-postcontent h4
{
   color: #ECF0F4;
   margin: 10px 0 0;
   font-size: 18px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cni-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 18px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cni-postcontent h4 a, .cni-postcontent h4 a:link, .cni-postcontent h4 a:hover, .cni-postcontent h4 a:visited, .cni-blockcontent h4 a, .cni-blockcontent h4 a:link, .cni-blockcontent h4 a:hover, .cni-blockcontent h4 a:visited 
{
   font-size: 18px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cni-postcontent h5
{
   color: #ECF0F4;
   margin: 10px 0 0;
   font-size: 15px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cni-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 15px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cni-postcontent h5 a, .cni-postcontent h5 a:link, .cni-postcontent h5 a:hover, .cni-postcontent h5 a:visited, .cni-blockcontent h5 a, .cni-blockcontent h5 a:link, .cni-blockcontent h5 a:hover, .cni-blockcontent h5 a:visited 
{
   font-size: 15px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cni-postcontent h6
{
   color: #B2C1D1;
   margin: 10px 0 0;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cni-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cni-postcontent h6 a, .cni-postcontent h6 a:link, .cni-postcontent h6 a:hover, .cni-postcontent h6 a:visited, .cni-blockcontent h6 a, .cni-blockcontent h6 a:link, .cni-blockcontent h6 a:hover, .cni-blockcontent h6 a:visited 
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

header, footer, article, nav, #cni-hmenu-bg, .cni-sheet, .cni-hmenu a, .cni-vmenu a, .cni-slidenavigator > a, .cni-checkbox:before, .cni-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #cni-hmenu-bg, .cni-sheet, .cni-slidenavigator > a, .cni-checkbox:before, .cni-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

body
{
   padding: 0;
   margin:0;
   min-width: 1000px;
   color: #C9D3DE;
}

.clearfix:before, .clearfix:after {
   content: "";
   display: table;
}

.clearfix:after {
   clear: both;
}

.cleared {
   font: 0/0 serif;
   clear: both;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .cni-postcontent li h1, .cni-blockcontent li h1 
{
   margin:1px;
} 
li h2, .cni-postcontent li h2, .cni-blockcontent li h2 
{
   margin:1px;
} 
li h3, .cni-postcontent li h3, .cni-blockcontent li h3 
{
   margin:1px;
} 
li h4, .cni-postcontent li h4, .cni-blockcontent li h4 
{
   margin:1px;
} 
li h5, .cni-postcontent li h5, .cni-blockcontent li h5 
{
   margin:1px;
} 
li h6, .cni-postcontent li h6, .cni-blockcontent li h6 
{
   margin:1px;
} 
li p, .cni-postcontent li p, .cni-blockcontent li p 
{
   margin:1px;
}


.cni-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.cni-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.cni-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.cni-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.cni-object1467606720
{
    display: block;
    left: 1.57%;
    margin-left: -3px;
    position: absolute;
    top: 6px;
    width: 236px;
    height: 90px;
    z-index: 0;
}
.cni-object227400126 h1, 
.cni-object227400126 h2, 
.cni-object227400126 h3, 
.cni-object227400126 h4, 
.cni-object227400126 h5, 
.cni-object227400126 h6, 
.cni-object227400126 p, 
.cni-object227400126 a, 
.cni-object227400126 ul, 
.cni-object227400126 ol, 
.cni-object227400126 li
{
  line-height: 125%;
}

.cni-object227400126
{ 

  background-image: url('../images/object227400126.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  z-index: 101;
  margin: -83px auto;
  width: 100px;
  position:relative;
  left: 200px;	
}







.cni-header
{
   margin:0 auto;
   position:relative;
   height: 110px;
   background-image: url('../images/header.jpg');
   background-position: center top;
   background-repeat: no-repeat;
}

.responsive .cni-header 
{
   background-image: url('../images/header.jpg');
   background-position: center center;
}

.cni-header-inner{
   position: relative;
   width: 1000px;
   z-index: auto !important;
   margin: 0 auto;
}

.cni-header>.widget 
{
   position:absolute;
   z-index:101;
}

.cni-nav
{
   background: #27180D;
   margin:0 auto;
   position: relative;
   z-index: 100;
   font-size: 0;
}
.cni-navwhite
{
border-top: 5px solid #ffffff;
margin:0 auto;
position: relative;
   z-index: 100;
   font-size: 0;
}
ul.cni-hmenu a, ul.cni-hmenu a:link, ul.cni-hmenu a:visited, ul.cni-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.cni-hmenu, ul.cni-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.cni-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
    font-size:8px;
}

ul.cni-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.cni-hmenu:after, ul.cni-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
   width: 150px;
     z-index: 10000;
}

ul.cni-hmenu, ul.cni-hmenu ul 
{
   min-height: 0;
}

ul.cni-hmenu 
{
   display: inline-block;
   vertical-align: bottom;
   padding-left: 0;
   padding-right: 0;
}

.cni-nav-inner:before 
{
   content:' ';
}

.cni-nav-inner{
   text-align: left;
   margin:0 auto;
}

.desktop-nav .cni-nav-inner{
   width: 1000px;
   padding-left: 0;
   padding-right: 0;
}

.desktop-nav.cni-nav
{
   padding-left: 0;
   padding-right: 0;
}

.cni-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.cni-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.cni-hmenu
{
   float: left;
}

.cni-menuitemcontainer
{
   margin:0 auto;
}
ul.cni-hmenu>li {
   margin-left: 1px;
}
ul.cni-hmenu>li:first-child {
   margin-left: 0;
}
ul.cni-hmenu>li:last-child, ul.cni-hmenu>li.last-child {
   margin-right: 0;
}

ul.cni-hmenu>li>a
{
   padding:0 22px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 24px;
   cursor: pointer;
   text-decoration: none;
   color: #d6cfa1;
   line-height: 24px;
   text-align: center;
}

.cni-hmenu a, 
.cni-hmenu a:link, 
.cni-hmenu a:visited, 
.cni-hmenu a.active, 
.cni-hmenu a:hover
{
   font-size: 16px;
   font-family: dosis;
   text-decoration: none;
   text-transform: uppercase;
   text-align: left;
}

ul.cni-hmenu>li>a.active
{
   padding:0 22px;
   margin:0 auto;
   color: #FFFFFF;
   text-decoration: underline;
}

ul.cni-hmenu>li>a:visited, 
ul.cni-hmenu>li>a:hover, 
ul.cni-hmenu>li:hover>a {
   text-decoration: underline;
}

ul.cni-hmenu>li>a:hover, .desktop ul.cni-hmenu>li:hover>a
{
   padding:0 22px;
   margin:0 auto;
}
ul.cni-hmenu>li>a:hover, 
.desktop-nav ul.cni-hmenu>li:hover>a {
   color: #FFFFFF;
   text-decoration: underline;
}

ul.cni-hmenu>li:before
{
   position:absolute;
   display: block;
   content:' ';
   top:0;
   left:  -1px;
   width:1px;
   height: 24px;
   background: url('../images/menuseparator.png') center center no-repeat;
}
ul.cni-hmenu>li:first-child:before{
   display:none;
}

ul.cni-hmenu li li a
{
   background: #B9C2CB;
   background: transparent;
   padding:0 8px;
   margin:0 auto;
}
ul.cni-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 0;
   margin-bottom: 0;
}

.desktop-nav ul.cni-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.cni-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.cni-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 24px;
   min-width: 7em;
   border: 0 solid transparent;
   text-align: left;
   line-height: 24px;
   color: #27180D;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

.cni-hmenu ul a:link, 
.cni-hmenu ul a:visited, 
.cni-hmenu ul a.active, 
.cni-hmenu ul a:hover
{
   text-align: left;
   line-height: 24px;
   color: #27180D;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

ul.cni-hmenu ul li a:hover, .desktop ul.cni-hmenu ul li:hover>a
{
   background: #4e3623;
   margin:0 auto;
}
.cni-hmenu ul a:hover
{
   text-decoration: none;
}

.cni-hmenu ul li a:hover
{
   color: #FFFFFF;
}

.desktop-nav .cni-hmenu ul li:hover>a
{
   color: #FFFFFF;
}

ul.cni-hmenu ul:before
{
   background: #FFFFFF;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   border:1px solid #CFD8E2;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop-nav ul.cni-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop-nav ul.cni-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.cni-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('../images/spacer.gif');
}

.desktop-nav ul.cni-hmenu>li>ul
{
   padding: 12px 32px 32px 32px;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.cni-hmenu ul ul
{
   padding: 32px 32px 32px 12px;
   margin: -32px 0 0 -9px;
}

.desktop-nav ul.cni-hmenu ul.cni-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.cni-hmenu ul.cni-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop-nav ul.cni-hmenu li li:hover>ul.cni-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop-nav ul.cni-hmenu li li:hover>ul.cni-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop-nav ul.cni-hmenu ul ul.cni-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 32px 32px 32px 12px;
   margin: -32px 0 0 -9px;
}

.desktop-nav ul.cni-hmenu ul ul.cni-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 32px 12px 32px 32px;
   margin: -32px -9px 0 0;
}

.desktop-nav ul.cni-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop-nav ul.cni-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop-nav ul.cni-hmenu ul ul:before
{
   border-radius: 0;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 10px;
}

.desktop-nav ul.cni-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop-nav ul.cni-hmenu>li>ul.cni-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.cni-hmenu>li>ul.cni-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.cni-hmenu ul ul.cni-hmenu-left-to-right:before {
   right: 30px;
   left: 10px;
}
.desktop-nav ul.cni-hmenu ul ul.cni-hmenu-right-to-left:before {
   right: 10px;
   left: 30px;
}

.cni-sheet
{
   margin:10px auto 0;
   position:relative;
   cursor:auto;
   width: 1000px;
   z-index: auto !important;
}

.cni-layout-wrapper
{
   position: relative;
   margin: 0 auto 0 auto;
   z-index: auto !important;
}

.cni-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.cni-content-layout-row 
{
   display: table-row;
}

.cni-layout-cell
{
   display: table-cell;
   vertical-align: top;
}

.cni-block
{
   margin:3px;
}
div.cni-block img
{
   border: none;
   margin: 0;
}

.cni-blockheader
{
   padding:6px 5px;
   margin:0 auto 2px;
}
.cni-blockheader .t,
.cni-blockheader .t a,
.cni-blockheader .t a:link,
.cni-blockheader .t a:visited, 
.cni-blockheader .t a:hover
{
   color: #FFFFFF;
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   margin: 0 5px;
}

.cni-blockcontent
{
   padding:5px;
   margin:0 auto;
   color: #C9D3DE;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}
.cni-blockcontent table,
.cni-blockcontent li, 
.cni-blockcontent a,
.cni-blockcontent a:link,
.cni-blockcontent a:visited,
.cni-blockcontent a:hover
{
   color: #C9D3DE;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.cni-blockcontent p
{
   margin: 0 5px;
}

.cni-blockcontent a, .cni-blockcontent a:link
{
   color: #ba985d;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.cni-blockcontent a:visited, .cni-blockcontent a.visited
{
   color: #FFFFFF;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.cni-blockcontent a:hover, .cni-blockcontent a.hover
{
   color: #BA985D;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}
.cni-block ul>li:before
{
   content:url('../images/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -12px;
}
.opera .cni-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.cni-block li
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
   color: #ECF0F4;
   margin: 5px 0 0 10px;
}

.cni-block ul>li, .cni-block ol
{
   padding: 0;
}

.cni-block ul>li
{
   padding-left: 12px;
}

.cni-breadcrumbs
{
   margin:0 auto;
}

a.cni-button,
a.cni-button:link,
a:link.cni-button:link,
body a.cni-button:link,
a.cni-button:visited,
body a.cni-button:visited,
input.cni-button,
button.cni-button
{
   text-decoration: none;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #FFFFFF;
   margin: 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 24px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.cni-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .cni-button
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.cni-block select 
{
   width:96%;
}

input.cni-button
{
   float: none !important;
}

.cni-button.active, .cni-button.active:hover
{
   background: #A1ADBA;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   padding:0 21px;
   margin:0 auto;
}
.cni-button.active, .cni-button.active:hover {
   color: #FFFFFF !important;
}

.cni-button.hover, .cni-button:hover
{
   background: #8A99A8;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   padding:0 21px;
   margin:0 auto;
}
.cni-button.hover, .cni-button:hover {
   color: #FFFFFF !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   background: #F9FAFB;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #B9C2CB;
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   width: 100%;
   padding: 4px 0;
   color: #3D5166 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
input.cni-error, textarea.cni-error
{
   background: #F9FAFB;
   border:1px solid #E2341D;
   margin:0 auto;
}
input.cni-error, textarea.cni-error {
   color: #3D5166 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.cni-search input[type="text"]
{
   background: #FFFFFF;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #CCD6E0;
   margin:0 auto;
   width: 200px;
   padding: 3px 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #7D2B03 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   height: 30px;
}
form.cni-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.cni-search input
{
   top:0;
   right:0;
}

form.cni-search>input {
   bottom:0;
   left:0;
   vertical-align: middle;
}
 
form.cni-search input[type="submit"]
{
   margin:0 auto;
   color: #FFFFFF !important;
   position:absolute;
   display:block;
   left: 170px;
   border:none;
   background:url('../images/searchicon.png') center center no-repeat;
   width:24px;
   height: 100%;
   padding:0;
}

label.cni-checkbox:before
{
   background: #F9FAFB;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
}
label.cni-checkbox
{
   cursor: pointer;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
}

.cni-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.cni-checkbox.active:before
{
   background: #ba985d;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.cni-checkbox.hovered:before
{
   background: #D9DEE3;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.cni-radiobutton:before
{
   background: #F9FAFB;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
}
label.cni-radiobutton
{
   cursor: pointer;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 12px;
   display: inline-block;
}

.cni-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.cni-radiobutton.active:before
{
   background: #B9C2CB;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.cni-radiobutton.hovered:before
{
   background: #D9DEE3;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

.cni-post
{
   padding:5px;
}
.cni-post2
{
   padding:5px;
   min-height: 1200px;
}
a img
{
   border: 0;
}

.imagenews img
{
   margin-top: 20px;
   border: 3px solid #ffffff;
}

.cni-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.cni-article table, table.cni-article
{
   border-collapse: collapse;
   margin: 1px;
}

.cni-post .cni-content-layout-br
{
   height: 0;
}

.cni-article th, .cni-article td
{
   padding: 2px;
   border: solid 1px #5A7796;
   vertical-align: top;
   text-align: left;
}

.cni-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 7px 7px 7px 7px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.cni-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.cni-postheader
{
   color: #ECF0F4;
   margin: 5px 10px;
   font-size: 24px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.cni-postheader a, 
.cni-postheader a:link, 
.cni-postheader a:visited,
.cni-postheader a.visited,
.cni-postheader a:hover,
.cni-postheader a.hovered
{
   font-size: 24px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.cni-postheader a, .cni-postheader a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #FDB28C;
}

.cni-postheader a:visited, .cni-postheader a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #9FB2C6;
}

.cni-postheader a:hover,  .cni-postheader a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #ba985d;
}

.cni-postheadericons,
.cni-postheadericons a,
.cni-postheadericons a:link,
.cni-postheadericons a:visited,
.cni-postheadericons a:hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #ECF0F4;
}

.cni-postheadericons
{
   display:inline-block;
   padding: 1px;
   margin: 0 0 0 10px;
}

.cni-postheadericons a, .cni-postheadericons a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #FEE1D2;
}

.cni-postheadericons a:visited, .cni-postheadericons a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   color: #C6D1DD;
}

.cni-postheadericons a:hover, .cni-postheadericons a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: underline;
   color: #FDC2A5;
}

.cni-postdateicon:before
{
   content:url('../images/postdateicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .cni-postdateicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.cni-postauthoricon:before
{
   content:url('../images/postauthoricon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .cni-postauthoricon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.cni-postediticon:before
{
   content:url('../images/postediticon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .cni-postediticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.cni-postcontent ul>li:before,  .cni-post ul>li:before,  .cni-textblock ul>li:before
{
   content:url('../images/postbullets.png');
   margin-right:10px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .cni-postcontent ul>li:before, .opera   .cni-post ul>li:before, .opera   .cni-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.cni-postcontent li, .cni-post li, .cni-textblock li
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #303F50;
   margin: 3px 0 0 11px;
}

.cni-postcontent ul>li, .cni-post ul>li, .cni-textblock ul>li, .cni-postcontent ol, .cni-post ol, .cni-textblock ol
{
   padding: 0;
}

.cni-postcontent ul>li, .cni-post ul>li, .cni-textblock ul>li
{
   padding-left: 17px;
}

.cni-postcontent ul>li:before,  .cni-post ul>li:before,  .cni-textblock ul>li:before
{
   margin-left: -17px;
}

.cni-postcontent ol, .cni-post ol, .cni-textblock ol, .cni-postcontent ul, .cni-post ul, .cni-textblock ul
{
   margin: 1em 0 1em 11px;
}

.cni-postcontent li ol, .cni-post li ol, .cni-textblock li ol, .cni-postcontent li ul, .cni-post li ul, .cni-textblock li ul
{
   margin: 0.5em 0 0.5em 11px;
}

.cni-postcontent li, .cni-post li, .cni-textblock li
{
   margin: 3px 0 0 0;
}

.cni-postcontent ol>li, .cni-post ol>li, .cni-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.cni-postcontent ul>li, .cni-post ul>li, .cni-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #EFF2F5 url('../images/postquote.png') no-repeat scroll;
   padding:10px 10px 10px 47px;
   margin:10px 0 0 25px;
   color: #0D1216;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .cni-postcontent blockquote a, .cni-blockcontent blockquote a, .cni-footer blockquote a,
blockquote a:link, .cni-postcontent blockquote a:link, .cni-blockcontent blockquote a:link, .cni-footer blockquote a:link,
blockquote a:visited, .cni-postcontent blockquote a:visited, .cni-blockcontent blockquote a:visited, .cni-footer blockquote a:visited,
blockquote a:hover, .cni-postcontent blockquote a:hover, .cni-blockcontent blockquote a:hover, .cni-footer blockquote a:hover
{
   color: #0D1216;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.cni-postcontent blockquote p,
.cni-blockcontent blockquote p,
.cni-footer blockquote p
{
   margin: 0;
   margin: 5px 0;
}

.cni-footer
{
   background: #D8CF9C;
   border-top:1px dotted #9CAFC4;
   margin:20px auto 0;
   position: relative;
   color: #3B4E63;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
   text-align: center;
   padding: 0;
}

.cni-footer a,
.cni-footer a:link,
.cni-footer a:visited,
.cni-footer a:hover,
.cni-footer td, 
.cni-footer th,
.cni-footer caption
{
   color: #3B4E63;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.cni-footer p 
{
   padding:0;
   text-align: center;
}

.cni-footer a,
.cni-footer a:link
{
   color: #394C60;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.cni-footer a:visited
{
   color: #2E3D4C;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.cni-footer a:hover
{
   color: #963403;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
}

.cni-footer img
{
   border: none;
   margin: 0;
}

.cni-footer-inner
{
   margin: 0 auto;
   width:1000px;
   padding:25px;
   padding-right: 25px;
   padding-left: 25px;
}

.cni-rss-tag-icon
{
   background:  url('../images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:25px;
   min-width:25px;
   display: inline-block;
   text-indent: 28px;
   background-position: left center;
}

.cni-rss-tag-icon:empty
{
   vertical-align: middle;
}

.cni-footer ul>li:before
{
   content:url('../images/footerbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -13px;
}
.opera .cni-footer ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.cni-footer li
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #5F2102;
}

.cni-footer ul>li, .cni-footer ol
{
   padding: 0;
}

.cni-footer ul>li
{
   padding-left: 13px;
}

.cni-page-footer, 
.cni-page-footer a,
.cni-page-footer a:link,
.cni-page-footer a:visited,
.cni-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #364049;
}

.cni-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #24303D;
}

img.cni-lightbox
{
   cursor: pointer;
}

#cni-lightbox-bg *
{
   padding: 0;
   margin: 0;
}

div#cni-lightbox-bg
{
   top: 0;
   left: 0;
   width: 100%;
   position: absolute;
   height: 100%;
   background-color: #000;
   opacity: 0.8;
   filter: alpha(opacity=80);
   z-index: 9999;
}

img.cni-lightbox-image
{
   -webkit-transition: opacity 350ms ease-in-out;
   -moz-transition: opacity 350ms ease-in-out;
   -o-transition: opacity 350ms ease-in-out;
   -ms-transition: opacity 350ms ease-in-out;
   transition: opacity 350ms ease-in-out;
   cursor: pointer;
   z-index: 10000;
   position: fixed;
   border: 6px solid #fff;
   border-radius: 3px;
   opacity: 0;
   filter: alpha(opacity=0);
}

img.cni-lightbox-image.active
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.lightbox-error
{
   position: fixed;
   background: #fff;
   z-index: 100;
   opacity: 0.95;
   padding: 20px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   width: 300px;
   height: 80px;
}

.loading
{
   position: fixed;
   background: #fff url('../images/preloader-01.gif') center center no-repeat;
   width: 32px;
   height: 32px;
   z-index: 10100;
   opacity: 0.5;
   padding: 10px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
}

.arrow
{
   height: 100px;
   width: 82px;
   z-index: 10003;
   position: fixed;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.arrow.left
{
   left: 9px;
}
.arrow.right
{
   right: 9px;
}

.arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.arrow.disabled 
{
   display: none;
}

.arrow-t, .arrow-b
{
   height: 6px;
   width: 30px;
   left: 26px;
   background-color: #fff;
   position: relative;
   border-radius: 3px;
}

.arrow-t
{
   top: 38px;
}

.arrow-b
{
   top: 50px;
}

.close
{
   width: 22px;
   height: 22px;
   position: fixed;
   top: 30px;
   right: 39px;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.close .cw, .close .ccw
{
   position: absolute;
   top: 8px;
   left: -4px;
   width: 30px;
   height: 6px;
   background-color: #fff;
   border-radius: 3px;
}

.cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.close-alt, .arrow-right-alt, .arrow-left-alt 
{
   display: none;
   color: #fff;
   font-size: 2.5em;
}

.ie8 .close-alt, .ie8 .arrow-right-alt, .ie8 .arrow-left-alt {
   display: block;
}
.ie8 .cw, .ie8 .ccw {
   display: none;
}

.cni-content-layout .cni-content
{
   margin:0 auto;
}

/* Begin Additional CSS Styles */

/* End Additional CSS Styles */


