body { padding:0; margin:0; font-family: Arial; font-size: 12px; color: #000000;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 17%, rgba(239,239,239,1) 56%, rgba(234,234,234,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(17%,rgba(255,255,255,1)), color-stop(56%,rgba(239,239,239,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 17%,rgba(239,239,239,1) 56%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 17%,rgba(239,239,239,1) 56%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 17%,rgba(239,239,239,1) 56%,rgba(234,234,234,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 17%,rgba(239,239,239,1) 56%,rgba(234,234,234,1) 100%) fixed; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
 }
form{ padding:0px; margin:0px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
td, input { font-family: Arial; font-size: 12px; color: #000000; }
object, embed { outline: 0; }
.ui-datepicker-trigger { cursor: pointer; }
.kotak_error { margin: 0 0 10px 0; padding: 3px; color: red; border: 1px solid #B9891E; background-color: #F7EFCC; }
.clear { line-height:0px; clear:both; }
.sembunyi { display:none;}
.pad_tbless { padding: 0 0 0 120px; }
label.tbless { float: left; width: 120px; font-weight: bold; }
label.tbless2 { display:block; font-weight: bold; }
label.tbless_norm { float: left; width: 120px; }
select.tbless, input.tbless, textarea.tbless { margin-bottom: 5px; }

.dtable { 
border-collapse: collapse; border:1px solid #000; }
.dtable .dhead { font-weight:bold; 
background:#424242;
box-shadow: 0 150px 150px -150px rgba(255, 255, 255, 0.5) inset; 
color: #FFFFFF !important; 
}
.dtable .dhead td { border:none; color: #FFFFFF !important; }
.odd{ background:#DDDDDD}
.dtable th, .dtable td { padding:4px; border:1px solid #000; }
.inputpesan { background-color: #FFFFFF; border: 1px solid #888888; color: #000000; height: 20px;}
.tombol {
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(237,237,237,1) 36%, rgba(243,243,243,1) 64%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(36%,rgba(237,237,237,1)), color-stop(64%,rgba(243,243,243,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 36%,rgba(243,243,243,1) 64%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 36%,rgba(243,243,243,1) 64%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 36%,rgba(243,243,243,1) 64%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 36%,rgba(243,243,243,1) 64%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
color: #23558D;
font-weight:bold;
cursor:pointer;
}
.judul_menu { color:#FFF; 
background: rgb(78,78,78); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(78,78,78,1) 0%, rgba(119,119,119,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(78,78,78,1)), color-stop(100%,rgba(119,119,119,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(78,78,78,1) 0%,rgba(119,119,119,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(78,78,78,1) 0%,rgba(119,119,119,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(78,78,78,1) 0%,rgba(119,119,119,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(78,78,78,1) 0%,rgba(119,119,119,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#777777',GradientType=0 ); /* IE6-9 */

font-size:14px; font-weight:bold; padding:4px; margin-bottom:8px; }
#headerMimin { height:299px;background:#424242;
box-shadow: 0 150px 150px -150px rgba(255, 255, 255, 0.5) inset; url(../images/adm/adm_header.png) no-repeat top center; }
#headerMimin2 { height:151px; background:#424242;
box-shadow: 0 150px 150px -150px rgba(255, 255, 255, 0.5) inset;
 }
#a_container { padding:0 4px; position:relative; }
a { color:#0075CA; text-decoration:none; }
a:hover, a:active { color:#0075CA; text-decoration:underline;  }

/* drop down menu horizontal - start */
.menu-hori, .menu-hori ul {
	padding: 0;
	margin: 0;	
	list-style: none;
	}
.menu-hori a {
	font-weight:bold;
	color:#000;
	padding:5px 2px 5px 10px;
	border: none;
	border-top: 1px solid #FFF;
	border-right: 1px solid #FFF;
	border-left: 1px solid #FFF;
	display: block;
	width: 180px;
	white-space: wrap;
	text-decoration:none; }
.menu-hori li {
	float: left;
	width: 10em;}
.menu-hori li a.haschild {
	background:#D7D7D7 url(../images/panah_ddm.gif) no-repeat center right;}
.menu-hori li a.nochild {
	background:#D7D7D7;}
.menu-hori li ul {
	margin: -2.1em 0 0 16em;
	position: absolute;
	width: 10em;
	left: -999em;
	z-index: 50;}
.menu-hori li ul ul {
	margin: -1.7em 0 0 10em;}
*:lang(en) .menu-hori li:hover ul ul, .menu-hori li:hover ul ul ul, .menu-hori li:hover ul ul ul ul, .menu-hori li.sfhover ul ul, .menu-hori li.sfhover ul ul ul, .menu-hori li.sfhover ul ul ul ul {
	left: -999em;
	z-index:50;}
*:lang(en) .menu-hori li:hover ul, .menu-hori li li:hover ul, .menu-hori li li li:hover ul, .menu-hori li li li li:hover ul, .menu-hori li.sfhover ul, .menu-hori li li.sfhover ul, .menu-hori li li li.sfhover ul, .menu-hori li li li li.sfhover ul {
	left: auto;
	z-index:50;}
.menu-hori li a:hover {
	color:#FFF;
	z-index:50;}
.menu-hori li a.haschild:hover {
	background:#7F7F7F url(../images/panah_ddm.gif) no-repeat center right;}
.menu-hori li a.nochild:hover {
	background:#7F7F7F;}
/* drop down menu horizontal - end */
.paypalaccount{
width: 300px !important;
}
.script{
font-family:"Courier New", Courier, monospace;
}

.tombol2{
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(237,237,237,1) 36%, rgba(243,243,243,1) 64%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(36%,rgba(237,237,237,1)), color-stop(64%,rgba(243,243,243,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 36%,rgba(243,243,243,1) 64%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 36%,rgba(243,243,243,1) 64%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 36%,rgba(243,243,243,1) 64%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 36%,rgba(243,243,243,1) 64%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
color: #23558D;
font-weight:bold;
cursor:pointer;
}

.sebelahkiri{
float:left;
}

.iconadmin{

position:absolute;
margin-left: -23px;
}
.menu-hori b{
margin-left: 15px;
}

