# hilangkan tanda # pada baris ke empat dan 
# sesuaikan nilai <username_ftp_client> dengan username ftp dari klien

# suPHP_ConfigPath /home/<username_ftp_client>/public_html
<Files php.ini>
order allow,deny
deny from all
</Files>

Options -Indexes

#php_flag register_globals off
#php_value max_execution_time 0
#php_value post_max_size 14M
#php_value upload_max_filesize 11M