<Files .htaccess>
	
order allow,deny
	
deny from all
	
</Files>
	
Options +FollowSymlinks
RewriteEngine On


#RewriteRule ^(.*)\.php$ 404.php [L]
#RewriteRule ^(.*)\.html$ $1.php [L,QSA]
#RewriteRule form/(.*)\.html$ detailpage.php?form=$1 [L,QSA]
#RewriteRule form/(.*)\.html$ detailpage.php?form=$1 [L,QSA]
RewriteRule form/contact-us.html$ contact-us.php [L,QSA]
RewriteRule form/location.html$ location.php [L,QSA]
RewriteRule location.html$ location.php [L,QSA]
RewriteRule (.*)/(.*)/(.*)/read/(.*).html$ detailpage.php?access=$1&id=$3&judul=$4&bahasa=$2 [L,QSA]
RewriteRule (.*)/(.*)/(.*)/detail/(.*).html$ detailpage.php?access=$1&id=$3&judul=$4&bahasa=$2 [L,QSA]

