<Files .htaccess>
	
order allow,deny
	
deny from all
	
</Files>
	
Options +FollowSymlinks
RewriteEngine On


#RewriteRule ^(.*)\.php$ 404.php [L]
#RewriteRule ^(.*)\.html$ $1.php [L,QSA]
#RewriteRule form/(.*)\.html$ detailpage.php?form=$1 [L,QSA]
#RewriteRule form/(.*)\.html$ detailpage.php?form=$1 [L,QSA]
RewriteRule (.*)/form/contact-us.html$ contact-us.php?bahasa=$1  [L,QSA]
RewriteRule (.*)/form/guest-book.html$ guest-book.php?bahasa=$1  [L,QSA]
RewriteRule (.*)/form/reservation.html$ pesantempat.php?bahasa=$1  [L,QSA]
RewriteRule form/location.html$ location.php [L,QSA]
RewriteRule payment/(.*)/paypal.html$ paypai.php?invoice=$1 [L,QSA]
RewriteRule location.html$ location.php [L,QSA]
RewriteRule home/(.*).html$  index.php?bahasa=$1 [L,QSA]


#news clean url
RewriteRule news/(.*)/(.*)/list.html$  newsindex.php?bahasa=$1&page=$2 [L,QSA]
RewriteRule news/(.*)/list.html$  newsindex.php?bahasa=$1 [L,QSA]

#event clean url
RewriteRule events/(.*)/(.*)/list.html$  eventindex.php?bahasa=$1&page=$2 [L,QSA]
RewriteRule events/(.*)/list.html$  eventindex.php?bahasa=$1 [L,QSA]

#tiket clean url
RewriteRule list/(.*)/price.html$  tiket.php?bahasa=$1 [L,QSA]

#download clean url
RewriteRule list/(.*)/download.html$  downloadindex.php?bahasa=$1 [L,QSA]

RewriteRule (.*)/(.*)/(.*)/read/(.*).html$ detailpage.php?access=$1&id=$3&judul=$4&bahasa=$2 [L,QSA]
RewriteRule (.*)/(.*)/(.*)/detail/(.*).html$ detailpage.php?access=$1&id=$3&judul=$4&bahasa=$2 [L,QSA]

#url halaman dinamis
RewriteRule (.*)/(.*)/(.*).html$ dinamis.php?access=about&id=$2&judul=$3&bahasa=$1 [L,QSA]

#url gallery
RewriteRule (.*)/(.*)/gallery/(.*)/(.*).html$ gallery.php?access=gallery&kategori=$2&page=$3&jenis=$4&bahasa=$1 [L,QSA]
RewriteRule (.*)/(.*)/gallery/(.*).html$ gallery.php?access=gallery&kategori=$2&jenis=$3&bahasa=$1 [L,QSA]


ErrorDocument 404 http://localhost/loremipsum/purawisata/404.php